	body
		{
			width: 100%;
			height: 1000px;
			background-color: #EEE;
			
		}
		#maindiv
		{
			display:inline-block;
			width: 100%;
			height: 80%;
		}
		.margin
		{
			width:8%;
			display:inline-block;
			height: 80%; 
		}
		.table
		{
			width: 20%;
			display:inline-block;
			height: 80%;
		}
		.cell
		{
			background-color:blue;
			border-radius: 5px;
			margin: auto;
			width: 90%;
			height: 24.5%;
			cursor: pointer;;
			margin-top: .5%;

		}
		#onclick
		{
			z-index: -1;
			max-height: 800px;
			min-height: 600px;
			width: 300px;
			position: absolute;
			left: 0px;
			top: 0px;
			border-radius: 10px;
			visibility: hidden;
			background-color: yellow;
		}
		#closebutton
		{
			cursor: pointer;
			color: red;
			font-size: 30px;
			height:5px;
		}

		#table
		{
			margin-top: 30%;
		}
		.tablename
		{
			width: 61%;
		}
		.tablestats
		{
			width: 13%;
		}
		#nextbutton
		{
			z-index: 15;
			background-color: red;
			text-align: center;
			color: white;
			width: 30%;
			float: right;
			border-radius: 5px;
			cursor: pointer;
			visibility: hidden;
		}